@import url("https://db.onlinewebfonts.com/c/8596a172173e3bf6bf5daba5f15fb488?family=MINI+Serif+Regular");
@import url("https://db.onlinewebfonts.com/c/a854932970a656a7573f56f61b544ea1?family=MINISansSerif-Regular");
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}
.fade-in {
  animation: fadeIn 0.5s forwards;
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}

.show {
  opacity: 1;
  visibility: visible;
}

.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 1920px;
  max-width: 100%;
  padding: 130px 282px;
  margin: 0 auto;
}
.container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../assets/images/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.shop-by-models {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  height: 690px;
}
.shop-by-models__header {
  position: absolute;
  left: 0;
  font-size: 72px;
  font-weight: 900;
}
.shop-by-models__header--xl {
  display: none;
  padding: 80px 16px 0;
}
.shop-by-models__header--xxl {
  display: block;
}
.shop-by-models__title {
  padding: 0 16px;
}
.shop-by-models__wrapper {
  position: relative;
  height: 100%;
  width: 942px;
  display: flex;
  justify-content: end;
}
.shop-by-models__graph {
  position: absolute;
  inset: 0;
}
.shop-by-models__circle-container {
  position: absolute;
  right: 0;
  width: 684px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
.shop-by-models__svg {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease-out;
}
.shop-by-models__svg--active {
  opacity: 1;
  visibility: visible;
}
.shop-by-models__circle {
  position: absolute;
  width: 580px;
  height: 580px;
  border-radius: 50%;
  transition: all 1s cubic-bezier(0.29, 0.79, 0.53, 0.92);
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
}
.shop-by-models__circle--orange {
  background-color: #ED5700;
}
.shop-by-models__circle--pink {
  background-color: #F183B2;
}
.shop-by-models__circle--green {
  background-color: #BBD780;
}
.shop-by-models__circle--blue {
  background-color: #57C4E5;
}
.shop-by-models__circle--purple {
  background-color: #641978;
}
.shop-by-models__circle--red {
  background-color: #E6001D;
}

.carousel__button {
  cursor: pointer;
  padding: 16px;
  border: none;
  border-radius: 50%;
  background-color: #262626;
  color: #FFFFFF;
}
.carousel__button-group {
  position: absolute;
  top: 45%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1100px;
}
.carousel__button--next {
  transform: translateX(32px);
}
.carousel__button--disabled {
  cursor: default;
}
.carousel__button--inactive {
  background-color: rgba(77, 77, 77, 0.3019607843);
  color: #FFFFFF;
}
.carousel__image {
  position: absolute;
  right: -42px;
  bottom: -25px;
  width: 100%;
  transform: scale(0.732, 0.655);
  transform-origin: right;
  transition: all 0.5s ease-in-out;
}
.carousel__image--active {
  transform: scale(1);
}
.carousel__slides {
  position: absolute;
  height: 100%;
  right: 0;
  display: flex;
  align-items: center;
  gap: 208px;
}
.carousel__slides--active {
  transition: all 0.5s ease-in-out;
}
.carousel__slides-item {
  position: relative;
  height: 100%;
  width: 1028px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "MINISansSerif-Regular";
  padding-right: 210px;
}
.footer .progress__container {
  display: flex;
  align-items: center;
  padding: 0 16px;
}
.footer .progress-bar {
  position: relative;
  width: 192px;
  display: flex;
  align-items: center;
  background-color: rgba(77, 77, 77, 0.3019607843);
  margin: 0 16px;
}
.footer .progress-bar__fill {
  padding: 1px 0;
  background-color: #262626;
  transition: all 0.5s ease;
}
.footer .progress__position {
  position: absolute;
  font-size: 20px;
  line-height: 24px;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.footer .progress__position-previous {
  left: -16px;
}
.footer .progress__position-previous--min {
  left: unset;
  right: -18px;
}
.footer .progress__position-current {
  left: -16px;
}
.footer .progress__position-current--max {
  left: unset;
  right: -18px;
  transform: translateX(-216px);
}
.footer .progress__position-total {
  right: -18px;
  opacity: 1;
}
.footer .progress__position-total--min {
  right: unset;
  left: -16px;
  transform: translateX(216px);
}

.btn {
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 248px;
  height: 52px;
  border: 1px solid #262626;
  border-radius: 100px;
  color: #000000;
  font-size: 18px;
  transition: all 0.5s ease-in-out;
}
.btn__group {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.btn:hover {
  background-color: #262626;
  color: #FFFFFF;
}

@media screen and (max-width: 1600px) {
  .container {
    padding: unset;
    gap: 40px;
  }
  .shop-by-models {
    align-items: center;
  }
  .shop-by-models__header {
    position: unset;
  }
  .shop-by-models__header--xl {
    display: block;
  }
  .shop-by-models__header--xxl {
    display: none;
  }
  .carousel__button-group {
    gap: 1000px;
  }
  .carousel__button--next {
    transform: unset;
  }
  .footer {
    flex-direction: column;
    gap: 60px;
    padding: 16px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    width: 768px;
  }
  .shop-by-models__header {
    text-align: center;
  }
  .shop-by-models__title {
    font-size: 64px;
  }
  .shop-by-models__wrapper {
    width: 100%;
  }
  .shop-by-models__circle-container {
    right: unset;
    width: 100%;
  }
  .carousel__slides-item {
    width: 768px;
  }
  .carousel__image {
    bottom: 100px;
    right: 0;
  }
  .carousel__button-group {
    gap: 260px;
    top: unset;
    bottom: -84px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 576px;
  }
  .shop-by-models__header {
    position: unset;
  }
  .shop-by-models__header--xl {
    display: block;
  }
  .shop-by-models__header--xxl {
    display: none;
  }
  .shop-by-models__title {
    font-size: 48px;
  }
  .shop-by-models__wrapper {
    width: 100%;
  }
  .shop-by-models__circle-container {
    right: unset;
    width: 100%;
  }
  .carousel__slides-item {
    width: 576px;
  }
  .carousel__image {
    bottom: 100px;
    right: 0;
  }
  .carousel__button-group {
    gap: 260px;
    top: unset;
    bottom: -84px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    width: 100vw;
    margin: auto;
  }
  .shop-by-models__header {
    position: unset;
  }
  .shop-by-models__header--xl {
    display: block;
  }
  .shop-by-models__header--xxl {
    display: none;
  }
  .shop-by-models__title {
    font-size: clamp(0.5rem, -1.2482517483rem + 11.1888111888vw, 3rem);
  }
  .shop-by-models__wrapper {
    width: 100%;
  }
  .shop-by-models__circle-container {
    right: unset;
    width: 100%;
  }
  .shop-by-models__circle {
    width: 70vw;
    height: 70vw;
  }
  .carousel__header {
    text-align: center;
  }
  .carousel__slides-item {
    width: 100vw;
  }
  .carousel__image {
    bottom: 100px;
    right: 0;
  }
  .carousel__button-group {
    gap: 260px;
    top: unset;
    bottom: -84px;
  }
  .footer {
    width: 100vw;
    flex-wrap: wrap;
  }
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.order-first {
  -ms-flex-order: -1;
  order: -1;
}

.order-last {
  -ms-flex-order: 25;
  order: 25;
}

.order-0 {
  -ms-flex-order: 0;
  order: 0;
}

.row-cols-1 > * {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.col-1 {
  -ms-flex: 0 0 4.1666666667%;
  flex: 0 0 4.1666666667%;
  max-width: 4.1666666667%;
}

.order-1 {
  -ms-flex-order: 1;
  order: 1;
}

.offset-1 {
  margin-left: 4.1666666667%;
}

.row-cols-2 > * {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-2 {
  -ms-flex: 0 0 8.3333333333%;
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.order-2 {
  -ms-flex-order: 2;
  order: 2;
}

.offset-2 {
  margin-left: 8.3333333333%;
}

.row-cols-3 > * {
  -ms-flex: 0 0 33.3333333333%;
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-3 {
  -ms-flex: 0 0 12.5%;
  flex: 0 0 12.5%;
  max-width: 12.5%;
}

.order-3 {
  -ms-flex-order: 3;
  order: 3;
}

.offset-3 {
  margin-left: 12.5%;
}

.row-cols-4 > * {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 16.6666666667%;
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.order-4 {
  -ms-flex-order: 4;
  order: 4;
}

.offset-4 {
  margin-left: 16.6666666667%;
}

.row-cols-5 > * {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

.col-5 {
  -ms-flex: 0 0 20.8333333333%;
  flex: 0 0 20.8333333333%;
  max-width: 20.8333333333%;
}

.order-5 {
  -ms-flex-order: 5;
  order: 5;
}

.offset-5 {
  margin-left: 20.8333333333%;
}

.row-cols-6 > * {
  -ms-flex: 0 0 16.6666666667%;
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-6 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.order-6 {
  -ms-flex-order: 6;
  order: 6;
}

.offset-6 {
  margin-left: 25%;
}

.row-cols-7 > * {
  -ms-flex: 0 0 14.2857142857%;
  flex: 0 0 14.2857142857%;
  max-width: 14.2857142857%;
}

.col-7 {
  -ms-flex: 0 0 29.1666666667%;
  flex: 0 0 29.1666666667%;
  max-width: 29.1666666667%;
}

.order-7 {
  -ms-flex-order: 7;
  order: 7;
}

.offset-7 {
  margin-left: 29.1666666667%;
}

.row-cols-8 > * {
  -ms-flex: 0 0 12.5%;
  flex: 0 0 12.5%;
  max-width: 12.5%;
}

.col-8 {
  -ms-flex: 0 0 33.3333333333%;
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.order-8 {
  -ms-flex-order: 8;
  order: 8;
}

.offset-8 {
  margin-left: 33.3333333333%;
}

.row-cols-9 > * {
  -ms-flex: 0 0 11.1111111111%;
  flex: 0 0 11.1111111111%;
  max-width: 11.1111111111%;
}

.col-9 {
  -ms-flex: 0 0 37.5%;
  flex: 0 0 37.5%;
  max-width: 37.5%;
}

.order-9 {
  -ms-flex-order: 9;
  order: 9;
}

.offset-9 {
  margin-left: 37.5%;
}

.row-cols-10 > * {
  -ms-flex: 0 0 10%;
  flex: 0 0 10%;
  max-width: 10%;
}

.col-10 {
  -ms-flex: 0 0 41.6666666667%;
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.order-10 {
  -ms-flex-order: 10;
  order: 10;
}

.offset-10 {
  margin-left: 41.6666666667%;
}

.row-cols-11 > * {
  -ms-flex: 0 0 9.0909090909%;
  flex: 0 0 9.0909090909%;
  max-width: 9.0909090909%;
}

.col-11 {
  -ms-flex: 0 0 45.8333333333%;
  flex: 0 0 45.8333333333%;
  max-width: 45.8333333333%;
}

.order-11 {
  -ms-flex-order: 11;
  order: 11;
}

.offset-11 {
  margin-left: 45.8333333333%;
}

.row-cols-12 > * {
  -ms-flex: 0 0 8.3333333333%;
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-12 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.order-12 {
  -ms-flex-order: 12;
  order: 12;
}

.offset-12 {
  margin-left: 50%;
}

.row-cols-13 > * {
  -ms-flex: 0 0 7.6923076923%;
  flex: 0 0 7.6923076923%;
  max-width: 7.6923076923%;
}

.col-13 {
  -ms-flex: 0 0 54.1666666667%;
  flex: 0 0 54.1666666667%;
  max-width: 54.1666666667%;
}

.order-13 {
  -ms-flex-order: 13;
  order: 13;
}

.offset-13 {
  margin-left: 54.1666666667%;
}

.row-cols-14 > * {
  -ms-flex: 0 0 7.1428571429%;
  flex: 0 0 7.1428571429%;
  max-width: 7.1428571429%;
}

.col-14 {
  -ms-flex: 0 0 58.3333333333%;
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.order-14 {
  -ms-flex-order: 14;
  order: 14;
}

.offset-14 {
  margin-left: 58.3333333333%;
}

.row-cols-15 > * {
  -ms-flex: 0 0 6.6666666667%;
  flex: 0 0 6.6666666667%;
  max-width: 6.6666666667%;
}

.col-15 {
  -ms-flex: 0 0 62.5%;
  flex: 0 0 62.5%;
  max-width: 62.5%;
}

.order-15 {
  -ms-flex-order: 15;
  order: 15;
}

.offset-15 {
  margin-left: 62.5%;
}

.row-cols-16 > * {
  -ms-flex: 0 0 6.25%;
  flex: 0 0 6.25%;
  max-width: 6.25%;
}

.col-16 {
  -ms-flex: 0 0 66.6666666667%;
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.order-16 {
  -ms-flex-order: 16;
  order: 16;
}

.offset-16 {
  margin-left: 66.6666666667%;
}

.row-cols-17 > * {
  -ms-flex: 0 0 5.8823529412%;
  flex: 0 0 5.8823529412%;
  max-width: 5.8823529412%;
}

.col-17 {
  -ms-flex: 0 0 70.8333333333%;
  flex: 0 0 70.8333333333%;
  max-width: 70.8333333333%;
}

.order-17 {
  -ms-flex-order: 17;
  order: 17;
}

.offset-17 {
  margin-left: 70.8333333333%;
}

.row-cols-18 > * {
  -ms-flex: 0 0 5.5555555556%;
  flex: 0 0 5.5555555556%;
  max-width: 5.5555555556%;
}

.col-18 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.order-18 {
  -ms-flex-order: 18;
  order: 18;
}

.offset-18 {
  margin-left: 75%;
}

.row-cols-19 > * {
  -ms-flex: 0 0 5.2631578947%;
  flex: 0 0 5.2631578947%;
  max-width: 5.2631578947%;
}

.col-19 {
  -ms-flex: 0 0 79.1666666667%;
  flex: 0 0 79.1666666667%;
  max-width: 79.1666666667%;
}

.order-19 {
  -ms-flex-order: 19;
  order: 19;
}

.offset-19 {
  margin-left: 79.1666666667%;
}

.row-cols-20 > * {
  -ms-flex: 0 0 5%;
  flex: 0 0 5%;
  max-width: 5%;
}

.col-20 {
  -ms-flex: 0 0 83.3333333333%;
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.order-20 {
  -ms-flex-order: 20;
  order: 20;
}

.offset-20 {
  margin-left: 83.3333333333%;
}

.row-cols-21 > * {
  -ms-flex: 0 0 4.7619047619%;
  flex: 0 0 4.7619047619%;
  max-width: 4.7619047619%;
}

.col-21 {
  -ms-flex: 0 0 87.5%;
  flex: 0 0 87.5%;
  max-width: 87.5%;
}

.order-21 {
  -ms-flex-order: 21;
  order: 21;
}

.offset-21 {
  margin-left: 87.5%;
}

.row-cols-22 > * {
  -ms-flex: 0 0 4.5454545455%;
  flex: 0 0 4.5454545455%;
  max-width: 4.5454545455%;
}

.col-22 {
  -ms-flex: 0 0 91.6666666667%;
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.order-22 {
  -ms-flex-order: 22;
  order: 22;
}

.offset-22 {
  margin-left: 91.6666666667%;
}

.row-cols-23 > * {
  -ms-flex: 0 0 4.347826087%;
  flex: 0 0 4.347826087%;
  max-width: 4.347826087%;
}

.col-23 {
  -ms-flex: 0 0 95.8333333333%;
  flex: 0 0 95.8333333333%;
  max-width: 95.8333333333%;
}

.order-23 {
  -ms-flex-order: 23;
  order: 23;
}

.offset-23 {
  margin-left: 95.8333333333%;
}

@media (min-width: 576px) {
  .row-cols-sm-1 > * {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-sm-1 {
    -ms-flex: 0 0 4.1666666667%;
    flex: 0 0 4.1666666667%;
    max-width: 4.1666666667%;
  }
  .order-sm-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .offset-sm-1 {
    margin-left: 4.1666666667%;
  }
  .row-cols-sm-2 > * {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-2 {
    -ms-flex: 0 0 8.3333333333%;
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .order-sm-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .offset-sm-2 {
    margin-left: 8.3333333333%;
  }
  .row-cols-sm-3 > * {
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-sm-3 {
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .order-sm-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .offset-sm-3 {
    margin-left: 12.5%;
  }
  .row-cols-sm-4 > * {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .order-sm-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .offset-sm-4 {
    margin-left: 16.6666666667%;
  }
  .row-cols-sm-5 > * {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .col-sm-5 {
    -ms-flex: 0 0 20.8333333333%;
    flex: 0 0 20.8333333333%;
    max-width: 20.8333333333%;
  }
  .order-sm-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .offset-sm-5 {
    margin-left: 20.8333333333%;
  }
  .row-cols-sm-6 > * {
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-sm-6 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .order-sm-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .offset-sm-6 {
    margin-left: 25%;
  }
  .row-cols-sm-7 > * {
    -ms-flex: 0 0 14.2857142857%;
    flex: 0 0 14.2857142857%;
    max-width: 14.2857142857%;
  }
  .col-sm-7 {
    -ms-flex: 0 0 29.1666666667%;
    flex: 0 0 29.1666666667%;
    max-width: 29.1666666667%;
  }
  .order-sm-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .offset-sm-7 {
    margin-left: 29.1666666667%;
  }
  .row-cols-sm-8 > * {
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .col-sm-8 {
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .order-sm-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .offset-sm-8 {
    margin-left: 33.3333333333%;
  }
  .row-cols-sm-9 > * {
    -ms-flex: 0 0 11.1111111111%;
    flex: 0 0 11.1111111111%;
    max-width: 11.1111111111%;
  }
  .col-sm-9 {
    -ms-flex: 0 0 37.5%;
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .order-sm-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .offset-sm-9 {
    margin-left: 37.5%;
  }
  .row-cols-sm-10 > * {
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
  }
  .col-sm-10 {
    -ms-flex: 0 0 41.6666666667%;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .order-sm-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .offset-sm-10 {
    margin-left: 41.6666666667%;
  }
  .row-cols-sm-11 > * {
    -ms-flex: 0 0 9.0909090909%;
    flex: 0 0 9.0909090909%;
    max-width: 9.0909090909%;
  }
  .col-sm-11 {
    -ms-flex: 0 0 45.8333333333%;
    flex: 0 0 45.8333333333%;
    max-width: 45.8333333333%;
  }
  .order-sm-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .offset-sm-11 {
    margin-left: 45.8333333333%;
  }
  .row-cols-sm-12 > * {
    -ms-flex: 0 0 8.3333333333%;
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-sm-12 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .order-sm-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-sm-12 {
    margin-left: 50%;
  }
  .row-cols-sm-13 > * {
    -ms-flex: 0 0 7.6923076923%;
    flex: 0 0 7.6923076923%;
    max-width: 7.6923076923%;
  }
  .col-sm-13 {
    -ms-flex: 0 0 54.1666666667%;
    flex: 0 0 54.1666666667%;
    max-width: 54.1666666667%;
  }
  .order-sm-13 {
    -ms-flex-order: 13;
    order: 13;
  }
  .offset-sm-13 {
    margin-left: 54.1666666667%;
  }
  .row-cols-sm-14 > * {
    -ms-flex: 0 0 7.1428571429%;
    flex: 0 0 7.1428571429%;
    max-width: 7.1428571429%;
  }
  .col-sm-14 {
    -ms-flex: 0 0 58.3333333333%;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .order-sm-14 {
    -ms-flex-order: 14;
    order: 14;
  }
  .offset-sm-14 {
    margin-left: 58.3333333333%;
  }
  .row-cols-sm-15 > * {
    -ms-flex: 0 0 6.6666666667%;
    flex: 0 0 6.6666666667%;
    max-width: 6.6666666667%;
  }
  .col-sm-15 {
    -ms-flex: 0 0 62.5%;
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .order-sm-15 {
    -ms-flex-order: 15;
    order: 15;
  }
  .offset-sm-15 {
    margin-left: 62.5%;
  }
  .row-cols-sm-16 > * {
    -ms-flex: 0 0 6.25%;
    flex: 0 0 6.25%;
    max-width: 6.25%;
  }
  .col-sm-16 {
    -ms-flex: 0 0 66.6666666667%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .order-sm-16 {
    -ms-flex-order: 16;
    order: 16;
  }
  .offset-sm-16 {
    margin-left: 66.6666666667%;
  }
  .row-cols-sm-17 > * {
    -ms-flex: 0 0 5.8823529412%;
    flex: 0 0 5.8823529412%;
    max-width: 5.8823529412%;
  }
  .col-sm-17 {
    -ms-flex: 0 0 70.8333333333%;
    flex: 0 0 70.8333333333%;
    max-width: 70.8333333333%;
  }
  .order-sm-17 {
    -ms-flex-order: 17;
    order: 17;
  }
  .offset-sm-17 {
    margin-left: 70.8333333333%;
  }
  .row-cols-sm-18 > * {
    -ms-flex: 0 0 5.5555555556%;
    flex: 0 0 5.5555555556%;
    max-width: 5.5555555556%;
  }
  .col-sm-18 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .order-sm-18 {
    -ms-flex-order: 18;
    order: 18;
  }
  .offset-sm-18 {
    margin-left: 75%;
  }
  .row-cols-sm-19 > * {
    -ms-flex: 0 0 5.2631578947%;
    flex: 0 0 5.2631578947%;
    max-width: 5.2631578947%;
  }
  .col-sm-19 {
    -ms-flex: 0 0 79.1666666667%;
    flex: 0 0 79.1666666667%;
    max-width: 79.1666666667%;
  }
  .order-sm-19 {
    -ms-flex-order: 19;
    order: 19;
  }
  .offset-sm-19 {
    margin-left: 79.1666666667%;
  }
  .row-cols-sm-20 > * {
    -ms-flex: 0 0 5%;
    flex: 0 0 5%;
    max-width: 5%;
  }
  .col-sm-20 {
    -ms-flex: 0 0 83.3333333333%;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .order-sm-20 {
    -ms-flex-order: 20;
    order: 20;
  }
  .offset-sm-20 {
    margin-left: 83.3333333333%;
  }
  .row-cols-sm-21 > * {
    -ms-flex: 0 0 4.7619047619%;
    flex: 0 0 4.7619047619%;
    max-width: 4.7619047619%;
  }
  .col-sm-21 {
    -ms-flex: 0 0 87.5%;
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .order-sm-21 {
    -ms-flex-order: 21;
    order: 21;
  }
  .offset-sm-21 {
    margin-left: 87.5%;
  }
  .row-cols-sm-22 > * {
    -ms-flex: 0 0 4.5454545455%;
    flex: 0 0 4.5454545455%;
    max-width: 4.5454545455%;
  }
  .col-sm-22 {
    -ms-flex: 0 0 91.6666666667%;
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .order-sm-22 {
    -ms-flex-order: 22;
    order: 22;
  }
  .offset-sm-22 {
    margin-left: 91.6666666667%;
  }
  .row-cols-sm-23 > * {
    -ms-flex: 0 0 4.347826087%;
    flex: 0 0 4.347826087%;
    max-width: 4.347826087%;
  }
  .col-sm-23 {
    -ms-flex: 0 0 95.8333333333%;
    flex: 0 0 95.8333333333%;
    max-width: 95.8333333333%;
  }
  .order-sm-23 {
    -ms-flex-order: 23;
    order: 23;
  }
  .offset-sm-23 {
    margin-left: 95.8333333333%;
  }
}
@media (min-width: 576px) {
  .row-cols-md-1 > * {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-md-1 {
    -ms-flex: 0 0 4.1666666667%;
    flex: 0 0 4.1666666667%;
    max-width: 4.1666666667%;
  }
  .order-md-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .offset-md-1 {
    margin-left: 4.1666666667%;
  }
  .row-cols-md-2 > * {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-2 {
    -ms-flex: 0 0 8.3333333333%;
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .order-md-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .offset-md-2 {
    margin-left: 8.3333333333%;
  }
  .row-cols-md-3 > * {
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-md-3 {
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .order-md-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .offset-md-3 {
    margin-left: 12.5%;
  }
  .row-cols-md-4 > * {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .order-md-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .offset-md-4 {
    margin-left: 16.6666666667%;
  }
  .row-cols-md-5 > * {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .col-md-5 {
    -ms-flex: 0 0 20.8333333333%;
    flex: 0 0 20.8333333333%;
    max-width: 20.8333333333%;
  }
  .order-md-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .offset-md-5 {
    margin-left: 20.8333333333%;
  }
  .row-cols-md-6 > * {
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-md-6 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .order-md-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .offset-md-6 {
    margin-left: 25%;
  }
  .row-cols-md-7 > * {
    -ms-flex: 0 0 14.2857142857%;
    flex: 0 0 14.2857142857%;
    max-width: 14.2857142857%;
  }
  .col-md-7 {
    -ms-flex: 0 0 29.1666666667%;
    flex: 0 0 29.1666666667%;
    max-width: 29.1666666667%;
  }
  .order-md-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .offset-md-7 {
    margin-left: 29.1666666667%;
  }
  .row-cols-md-8 > * {
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .col-md-8 {
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .order-md-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .offset-md-8 {
    margin-left: 33.3333333333%;
  }
  .row-cols-md-9 > * {
    -ms-flex: 0 0 11.1111111111%;
    flex: 0 0 11.1111111111%;
    max-width: 11.1111111111%;
  }
  .col-md-9 {
    -ms-flex: 0 0 37.5%;
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .order-md-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .offset-md-9 {
    margin-left: 37.5%;
  }
  .row-cols-md-10 > * {
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
  }
  .col-md-10 {
    -ms-flex: 0 0 41.6666666667%;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .order-md-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .offset-md-10 {
    margin-left: 41.6666666667%;
  }
  .row-cols-md-11 > * {
    -ms-flex: 0 0 9.0909090909%;
    flex: 0 0 9.0909090909%;
    max-width: 9.0909090909%;
  }
  .col-md-11 {
    -ms-flex: 0 0 45.8333333333%;
    flex: 0 0 45.8333333333%;
    max-width: 45.8333333333%;
  }
  .order-md-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .offset-md-11 {
    margin-left: 45.8333333333%;
  }
  .row-cols-md-12 > * {
    -ms-flex: 0 0 8.3333333333%;
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-md-12 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .order-md-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-md-12 {
    margin-left: 50%;
  }
  .row-cols-md-13 > * {
    -ms-flex: 0 0 7.6923076923%;
    flex: 0 0 7.6923076923%;
    max-width: 7.6923076923%;
  }
  .col-md-13 {
    -ms-flex: 0 0 54.1666666667%;
    flex: 0 0 54.1666666667%;
    max-width: 54.1666666667%;
  }
  .order-md-13 {
    -ms-flex-order: 13;
    order: 13;
  }
  .offset-md-13 {
    margin-left: 54.1666666667%;
  }
  .row-cols-md-14 > * {
    -ms-flex: 0 0 7.1428571429%;
    flex: 0 0 7.1428571429%;
    max-width: 7.1428571429%;
  }
  .col-md-14 {
    -ms-flex: 0 0 58.3333333333%;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .order-md-14 {
    -ms-flex-order: 14;
    order: 14;
  }
  .offset-md-14 {
    margin-left: 58.3333333333%;
  }
  .row-cols-md-15 > * {
    -ms-flex: 0 0 6.6666666667%;
    flex: 0 0 6.6666666667%;
    max-width: 6.6666666667%;
  }
  .col-md-15 {
    -ms-flex: 0 0 62.5%;
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .order-md-15 {
    -ms-flex-order: 15;
    order: 15;
  }
  .offset-md-15 {
    margin-left: 62.5%;
  }
  .row-cols-md-16 > * {
    -ms-flex: 0 0 6.25%;
    flex: 0 0 6.25%;
    max-width: 6.25%;
  }
  .col-md-16 {
    -ms-flex: 0 0 66.6666666667%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .order-md-16 {
    -ms-flex-order: 16;
    order: 16;
  }
  .offset-md-16 {
    margin-left: 66.6666666667%;
  }
  .row-cols-md-17 > * {
    -ms-flex: 0 0 5.8823529412%;
    flex: 0 0 5.8823529412%;
    max-width: 5.8823529412%;
  }
  .col-md-17 {
    -ms-flex: 0 0 70.8333333333%;
    flex: 0 0 70.8333333333%;
    max-width: 70.8333333333%;
  }
  .order-md-17 {
    -ms-flex-order: 17;
    order: 17;
  }
  .offset-md-17 {
    margin-left: 70.8333333333%;
  }
  .row-cols-md-18 > * {
    -ms-flex: 0 0 5.5555555556%;
    flex: 0 0 5.5555555556%;
    max-width: 5.5555555556%;
  }
  .col-md-18 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .order-md-18 {
    -ms-flex-order: 18;
    order: 18;
  }
  .offset-md-18 {
    margin-left: 75%;
  }
  .row-cols-md-19 > * {
    -ms-flex: 0 0 5.2631578947%;
    flex: 0 0 5.2631578947%;
    max-width: 5.2631578947%;
  }
  .col-md-19 {
    -ms-flex: 0 0 79.1666666667%;
    flex: 0 0 79.1666666667%;
    max-width: 79.1666666667%;
  }
  .order-md-19 {
    -ms-flex-order: 19;
    order: 19;
  }
  .offset-md-19 {
    margin-left: 79.1666666667%;
  }
  .row-cols-md-20 > * {
    -ms-flex: 0 0 5%;
    flex: 0 0 5%;
    max-width: 5%;
  }
  .col-md-20 {
    -ms-flex: 0 0 83.3333333333%;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .order-md-20 {
    -ms-flex-order: 20;
    order: 20;
  }
  .offset-md-20 {
    margin-left: 83.3333333333%;
  }
  .row-cols-md-21 > * {
    -ms-flex: 0 0 4.7619047619%;
    flex: 0 0 4.7619047619%;
    max-width: 4.7619047619%;
  }
  .col-md-21 {
    -ms-flex: 0 0 87.5%;
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .order-md-21 {
    -ms-flex-order: 21;
    order: 21;
  }
  .offset-md-21 {
    margin-left: 87.5%;
  }
  .row-cols-md-22 > * {
    -ms-flex: 0 0 4.5454545455%;
    flex: 0 0 4.5454545455%;
    max-width: 4.5454545455%;
  }
  .col-md-22 {
    -ms-flex: 0 0 91.6666666667%;
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .order-md-22 {
    -ms-flex-order: 22;
    order: 22;
  }
  .offset-md-22 {
    margin-left: 91.6666666667%;
  }
  .row-cols-md-23 > * {
    -ms-flex: 0 0 4.347826087%;
    flex: 0 0 4.347826087%;
    max-width: 4.347826087%;
  }
  .col-md-23 {
    -ms-flex: 0 0 95.8333333333%;
    flex: 0 0 95.8333333333%;
    max-width: 95.8333333333%;
  }
  .order-md-23 {
    -ms-flex-order: 23;
    order: 23;
  }
  .offset-md-23 {
    margin-left: 95.8333333333%;
  }
}
@media (min-width: 576px) {
  .row-cols-lg-1 > * {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-lg-1 {
    -ms-flex: 0 0 4.1666666667%;
    flex: 0 0 4.1666666667%;
    max-width: 4.1666666667%;
  }
  .order-lg-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .offset-lg-1 {
    margin-left: 4.1666666667%;
  }
  .row-cols-lg-2 > * {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-2 {
    -ms-flex: 0 0 8.3333333333%;
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .order-lg-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .offset-lg-2 {
    margin-left: 8.3333333333%;
  }
  .row-cols-lg-3 > * {
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-lg-3 {
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .order-lg-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .offset-lg-3 {
    margin-left: 12.5%;
  }
  .row-cols-lg-4 > * {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .order-lg-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .offset-lg-4 {
    margin-left: 16.6666666667%;
  }
  .row-cols-lg-5 > * {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .col-lg-5 {
    -ms-flex: 0 0 20.8333333333%;
    flex: 0 0 20.8333333333%;
    max-width: 20.8333333333%;
  }
  .order-lg-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .offset-lg-5 {
    margin-left: 20.8333333333%;
  }
  .row-cols-lg-6 > * {
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-lg-6 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .order-lg-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .offset-lg-6 {
    margin-left: 25%;
  }
  .row-cols-lg-7 > * {
    -ms-flex: 0 0 14.2857142857%;
    flex: 0 0 14.2857142857%;
    max-width: 14.2857142857%;
  }
  .col-lg-7 {
    -ms-flex: 0 0 29.1666666667%;
    flex: 0 0 29.1666666667%;
    max-width: 29.1666666667%;
  }
  .order-lg-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .offset-lg-7 {
    margin-left: 29.1666666667%;
  }
  .row-cols-lg-8 > * {
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .col-lg-8 {
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .order-lg-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .offset-lg-8 {
    margin-left: 33.3333333333%;
  }
  .row-cols-lg-9 > * {
    -ms-flex: 0 0 11.1111111111%;
    flex: 0 0 11.1111111111%;
    max-width: 11.1111111111%;
  }
  .col-lg-9 {
    -ms-flex: 0 0 37.5%;
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .order-lg-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .offset-lg-9 {
    margin-left: 37.5%;
  }
  .row-cols-lg-10 > * {
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
  }
  .col-lg-10 {
    -ms-flex: 0 0 41.6666666667%;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .order-lg-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .offset-lg-10 {
    margin-left: 41.6666666667%;
  }
  .row-cols-lg-11 > * {
    -ms-flex: 0 0 9.0909090909%;
    flex: 0 0 9.0909090909%;
    max-width: 9.0909090909%;
  }
  .col-lg-11 {
    -ms-flex: 0 0 45.8333333333%;
    flex: 0 0 45.8333333333%;
    max-width: 45.8333333333%;
  }
  .order-lg-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .offset-lg-11 {
    margin-left: 45.8333333333%;
  }
  .row-cols-lg-12 > * {
    -ms-flex: 0 0 8.3333333333%;
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-lg-12 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .order-lg-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-lg-12 {
    margin-left: 50%;
  }
  .row-cols-lg-13 > * {
    -ms-flex: 0 0 7.6923076923%;
    flex: 0 0 7.6923076923%;
    max-width: 7.6923076923%;
  }
  .col-lg-13 {
    -ms-flex: 0 0 54.1666666667%;
    flex: 0 0 54.1666666667%;
    max-width: 54.1666666667%;
  }
  .order-lg-13 {
    -ms-flex-order: 13;
    order: 13;
  }
  .offset-lg-13 {
    margin-left: 54.1666666667%;
  }
  .row-cols-lg-14 > * {
    -ms-flex: 0 0 7.1428571429%;
    flex: 0 0 7.1428571429%;
    max-width: 7.1428571429%;
  }
  .col-lg-14 {
    -ms-flex: 0 0 58.3333333333%;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .order-lg-14 {
    -ms-flex-order: 14;
    order: 14;
  }
  .offset-lg-14 {
    margin-left: 58.3333333333%;
  }
  .row-cols-lg-15 > * {
    -ms-flex: 0 0 6.6666666667%;
    flex: 0 0 6.6666666667%;
    max-width: 6.6666666667%;
  }
  .col-lg-15 {
    -ms-flex: 0 0 62.5%;
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .order-lg-15 {
    -ms-flex-order: 15;
    order: 15;
  }
  .offset-lg-15 {
    margin-left: 62.5%;
  }
  .row-cols-lg-16 > * {
    -ms-flex: 0 0 6.25%;
    flex: 0 0 6.25%;
    max-width: 6.25%;
  }
  .col-lg-16 {
    -ms-flex: 0 0 66.6666666667%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .order-lg-16 {
    -ms-flex-order: 16;
    order: 16;
  }
  .offset-lg-16 {
    margin-left: 66.6666666667%;
  }
  .row-cols-lg-17 > * {
    -ms-flex: 0 0 5.8823529412%;
    flex: 0 0 5.8823529412%;
    max-width: 5.8823529412%;
  }
  .col-lg-17 {
    -ms-flex: 0 0 70.8333333333%;
    flex: 0 0 70.8333333333%;
    max-width: 70.8333333333%;
  }
  .order-lg-17 {
    -ms-flex-order: 17;
    order: 17;
  }
  .offset-lg-17 {
    margin-left: 70.8333333333%;
  }
  .row-cols-lg-18 > * {
    -ms-flex: 0 0 5.5555555556%;
    flex: 0 0 5.5555555556%;
    max-width: 5.5555555556%;
  }
  .col-lg-18 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .order-lg-18 {
    -ms-flex-order: 18;
    order: 18;
  }
  .offset-lg-18 {
    margin-left: 75%;
  }
  .row-cols-lg-19 > * {
    -ms-flex: 0 0 5.2631578947%;
    flex: 0 0 5.2631578947%;
    max-width: 5.2631578947%;
  }
  .col-lg-19 {
    -ms-flex: 0 0 79.1666666667%;
    flex: 0 0 79.1666666667%;
    max-width: 79.1666666667%;
  }
  .order-lg-19 {
    -ms-flex-order: 19;
    order: 19;
  }
  .offset-lg-19 {
    margin-left: 79.1666666667%;
  }
  .row-cols-lg-20 > * {
    -ms-flex: 0 0 5%;
    flex: 0 0 5%;
    max-width: 5%;
  }
  .col-lg-20 {
    -ms-flex: 0 0 83.3333333333%;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .order-lg-20 {
    -ms-flex-order: 20;
    order: 20;
  }
  .offset-lg-20 {
    margin-left: 83.3333333333%;
  }
  .row-cols-lg-21 > * {
    -ms-flex: 0 0 4.7619047619%;
    flex: 0 0 4.7619047619%;
    max-width: 4.7619047619%;
  }
  .col-lg-21 {
    -ms-flex: 0 0 87.5%;
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .order-lg-21 {
    -ms-flex-order: 21;
    order: 21;
  }
  .offset-lg-21 {
    margin-left: 87.5%;
  }
  .row-cols-lg-22 > * {
    -ms-flex: 0 0 4.5454545455%;
    flex: 0 0 4.5454545455%;
    max-width: 4.5454545455%;
  }
  .col-lg-22 {
    -ms-flex: 0 0 91.6666666667%;
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .order-lg-22 {
    -ms-flex-order: 22;
    order: 22;
  }
  .offset-lg-22 {
    margin-left: 91.6666666667%;
  }
  .row-cols-lg-23 > * {
    -ms-flex: 0 0 4.347826087%;
    flex: 0 0 4.347826087%;
    max-width: 4.347826087%;
  }
  .col-lg-23 {
    -ms-flex: 0 0 95.8333333333%;
    flex: 0 0 95.8333333333%;
    max-width: 95.8333333333%;
  }
  .order-lg-23 {
    -ms-flex-order: 23;
    order: 23;
  }
  .offset-lg-23 {
    margin-left: 95.8333333333%;
  }
}
@media (min-width: 576px) {
  .row-cols-xl-1 > * {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-xl-1 {
    -ms-flex: 0 0 4.1666666667%;
    flex: 0 0 4.1666666667%;
    max-width: 4.1666666667%;
  }
  .order-xl-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .offset-xl-1 {
    margin-left: 4.1666666667%;
  }
  .row-cols-xl-2 > * {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-2 {
    -ms-flex: 0 0 8.3333333333%;
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .order-xl-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .offset-xl-2 {
    margin-left: 8.3333333333%;
  }
  .row-cols-xl-3 > * {
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-xl-3 {
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .order-xl-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .offset-xl-3 {
    margin-left: 12.5%;
  }
  .row-cols-xl-4 > * {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .order-xl-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .offset-xl-4 {
    margin-left: 16.6666666667%;
  }
  .row-cols-xl-5 > * {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .col-xl-5 {
    -ms-flex: 0 0 20.8333333333%;
    flex: 0 0 20.8333333333%;
    max-width: 20.8333333333%;
  }
  .order-xl-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .offset-xl-5 {
    margin-left: 20.8333333333%;
  }
  .row-cols-xl-6 > * {
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-xl-6 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .order-xl-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .offset-xl-6 {
    margin-left: 25%;
  }
  .row-cols-xl-7 > * {
    -ms-flex: 0 0 14.2857142857%;
    flex: 0 0 14.2857142857%;
    max-width: 14.2857142857%;
  }
  .col-xl-7 {
    -ms-flex: 0 0 29.1666666667%;
    flex: 0 0 29.1666666667%;
    max-width: 29.1666666667%;
  }
  .order-xl-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .offset-xl-7 {
    margin-left: 29.1666666667%;
  }
  .row-cols-xl-8 > * {
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .col-xl-8 {
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .order-xl-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .offset-xl-8 {
    margin-left: 33.3333333333%;
  }
  .row-cols-xl-9 > * {
    -ms-flex: 0 0 11.1111111111%;
    flex: 0 0 11.1111111111%;
    max-width: 11.1111111111%;
  }
  .col-xl-9 {
    -ms-flex: 0 0 37.5%;
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .order-xl-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .offset-xl-9 {
    margin-left: 37.5%;
  }
  .row-cols-xl-10 > * {
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
  }
  .col-xl-10 {
    -ms-flex: 0 0 41.6666666667%;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .order-xl-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .offset-xl-10 {
    margin-left: 41.6666666667%;
  }
  .row-cols-xl-11 > * {
    -ms-flex: 0 0 9.0909090909%;
    flex: 0 0 9.0909090909%;
    max-width: 9.0909090909%;
  }
  .col-xl-11 {
    -ms-flex: 0 0 45.8333333333%;
    flex: 0 0 45.8333333333%;
    max-width: 45.8333333333%;
  }
  .order-xl-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .offset-xl-11 {
    margin-left: 45.8333333333%;
  }
  .row-cols-xl-12 > * {
    -ms-flex: 0 0 8.3333333333%;
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-xl-12 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .order-xl-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-xl-12 {
    margin-left: 50%;
  }
  .row-cols-xl-13 > * {
    -ms-flex: 0 0 7.6923076923%;
    flex: 0 0 7.6923076923%;
    max-width: 7.6923076923%;
  }
  .col-xl-13 {
    -ms-flex: 0 0 54.1666666667%;
    flex: 0 0 54.1666666667%;
    max-width: 54.1666666667%;
  }
  .order-xl-13 {
    -ms-flex-order: 13;
    order: 13;
  }
  .offset-xl-13 {
    margin-left: 54.1666666667%;
  }
  .row-cols-xl-14 > * {
    -ms-flex: 0 0 7.1428571429%;
    flex: 0 0 7.1428571429%;
    max-width: 7.1428571429%;
  }
  .col-xl-14 {
    -ms-flex: 0 0 58.3333333333%;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .order-xl-14 {
    -ms-flex-order: 14;
    order: 14;
  }
  .offset-xl-14 {
    margin-left: 58.3333333333%;
  }
  .row-cols-xl-15 > * {
    -ms-flex: 0 0 6.6666666667%;
    flex: 0 0 6.6666666667%;
    max-width: 6.6666666667%;
  }
  .col-xl-15 {
    -ms-flex: 0 0 62.5%;
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .order-xl-15 {
    -ms-flex-order: 15;
    order: 15;
  }
  .offset-xl-15 {
    margin-left: 62.5%;
  }
  .row-cols-xl-16 > * {
    -ms-flex: 0 0 6.25%;
    flex: 0 0 6.25%;
    max-width: 6.25%;
  }
  .col-xl-16 {
    -ms-flex: 0 0 66.6666666667%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .order-xl-16 {
    -ms-flex-order: 16;
    order: 16;
  }
  .offset-xl-16 {
    margin-left: 66.6666666667%;
  }
  .row-cols-xl-17 > * {
    -ms-flex: 0 0 5.8823529412%;
    flex: 0 0 5.8823529412%;
    max-width: 5.8823529412%;
  }
  .col-xl-17 {
    -ms-flex: 0 0 70.8333333333%;
    flex: 0 0 70.8333333333%;
    max-width: 70.8333333333%;
  }
  .order-xl-17 {
    -ms-flex-order: 17;
    order: 17;
  }
  .offset-xl-17 {
    margin-left: 70.8333333333%;
  }
  .row-cols-xl-18 > * {
    -ms-flex: 0 0 5.5555555556%;
    flex: 0 0 5.5555555556%;
    max-width: 5.5555555556%;
  }
  .col-xl-18 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .order-xl-18 {
    -ms-flex-order: 18;
    order: 18;
  }
  .offset-xl-18 {
    margin-left: 75%;
  }
  .row-cols-xl-19 > * {
    -ms-flex: 0 0 5.2631578947%;
    flex: 0 0 5.2631578947%;
    max-width: 5.2631578947%;
  }
  .col-xl-19 {
    -ms-flex: 0 0 79.1666666667%;
    flex: 0 0 79.1666666667%;
    max-width: 79.1666666667%;
  }
  .order-xl-19 {
    -ms-flex-order: 19;
    order: 19;
  }
  .offset-xl-19 {
    margin-left: 79.1666666667%;
  }
  .row-cols-xl-20 > * {
    -ms-flex: 0 0 5%;
    flex: 0 0 5%;
    max-width: 5%;
  }
  .col-xl-20 {
    -ms-flex: 0 0 83.3333333333%;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .order-xl-20 {
    -ms-flex-order: 20;
    order: 20;
  }
  .offset-xl-20 {
    margin-left: 83.3333333333%;
  }
  .row-cols-xl-21 > * {
    -ms-flex: 0 0 4.7619047619%;
    flex: 0 0 4.7619047619%;
    max-width: 4.7619047619%;
  }
  .col-xl-21 {
    -ms-flex: 0 0 87.5%;
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .order-xl-21 {
    -ms-flex-order: 21;
    order: 21;
  }
  .offset-xl-21 {
    margin-left: 87.5%;
  }
  .row-cols-xl-22 > * {
    -ms-flex: 0 0 4.5454545455%;
    flex: 0 0 4.5454545455%;
    max-width: 4.5454545455%;
  }
  .col-xl-22 {
    -ms-flex: 0 0 91.6666666667%;
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .order-xl-22 {
    -ms-flex-order: 22;
    order: 22;
  }
  .offset-xl-22 {
    margin-left: 91.6666666667%;
  }
  .row-cols-xl-23 > * {
    -ms-flex: 0 0 4.347826087%;
    flex: 0 0 4.347826087%;
    max-width: 4.347826087%;
  }
  .col-xl-23 {
    -ms-flex: 0 0 95.8333333333%;
    flex: 0 0 95.8333333333%;
    max-width: 95.8333333333%;
  }
  .order-xl-23 {
    -ms-flex-order: 23;
    order: 23;
  }
  .offset-xl-23 {
    margin-left: 95.8333333333%;
  }
}
* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "MINI Serif Regular";
  color: #000000;
  font-weight: 400;
}

.p-0 {
  padding: 0px;
}

.px-0 {
  padding-inline: 0px;
}

.py-0 {
  padding-block: 0px;
}

.pt-0 {
  padding-top: 0px;
}

.pe-0 {
  padding-right: 0px;
}

.pb-0 {
  padding-bottom: 0px;
}

.ps-0 {
  padding-left: 0px;
}

.m-0 {
  margin: 0px;
}

.mx-0 {
  margin-inline: 0px;
}

.my-0 {
  margin-block: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.me-0 {
  margin-right: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}

.ms-0 {
  margin-left: 0px;
}

.gap-0 {
  gap: 0px;
}

.gapx-0 {
  column-gap: 0px;
}

.gapy-0 {
  row-gap: 0px;
}

.p-1 {
  padding: 4px;
}

.px-1 {
  padding-inline: 4px;
}

.py-1 {
  padding-block: 4px;
}

.pt-1 {
  padding-top: 4px;
}

.pe-1 {
  padding-right: 4px;
}

.pb-1 {
  padding-bottom: 4px;
}

.ps-1 {
  padding-left: 4px;
}

.m-1 {
  margin: 4px;
}

.mx-1 {
  margin-inline: 4px;
}

.my-1 {
  margin-block: 4px;
}

.mt-1 {
  margin-top: 4px;
}

.me-1 {
  margin-right: 4px;
}

.mb-1 {
  margin-bottom: 4px;
}

.ms-1 {
  margin-left: 4px;
}

.gap-1 {
  gap: 4px;
}

.gapx-1 {
  column-gap: 4px;
}

.gapy-1 {
  row-gap: 4px;
}

.p-2 {
  padding: 8px;
}

.px-2 {
  padding-inline: 8px;
}

.py-2 {
  padding-block: 8px;
}

.pt-2 {
  padding-top: 8px;
}

.pe-2 {
  padding-right: 8px;
}

.pb-2 {
  padding-bottom: 8px;
}

.ps-2 {
  padding-left: 8px;
}

.m-2 {
  margin: 8px;
}

.mx-2 {
  margin-inline: 8px;
}

.my-2 {
  margin-block: 8px;
}

.mt-2 {
  margin-top: 8px;
}

.me-2 {
  margin-right: 8px;
}

.mb-2 {
  margin-bottom: 8px;
}

.ms-2 {
  margin-left: 8px;
}

.gap-2 {
  gap: 8px;
}

.gapx-2 {
  column-gap: 8px;
}

.gapy-2 {
  row-gap: 8px;
}

.p-3 {
  padding: 12px;
}

.px-3 {
  padding-inline: 12px;
}

.py-3 {
  padding-block: 12px;
}

.pt-3 {
  padding-top: 12px;
}

.pe-3 {
  padding-right: 12px;
}

.pb-3 {
  padding-bottom: 12px;
}

.ps-3 {
  padding-left: 12px;
}

.m-3 {
  margin: 12px;
}

.mx-3 {
  margin-inline: 12px;
}

.my-3 {
  margin-block: 12px;
}

.mt-3 {
  margin-top: 12px;
}

.me-3 {
  margin-right: 12px;
}

.mb-3 {
  margin-bottom: 12px;
}

.ms-3 {
  margin-left: 12px;
}

.gap-3 {
  gap: 12px;
}

.gapx-3 {
  column-gap: 12px;
}

.gapy-3 {
  row-gap: 12px;
}

.p-4 {
  padding: 16px;
}

.px-4 {
  padding-inline: 16px;
}

.py-4 {
  padding-block: 16px;
}

.pt-4 {
  padding-top: 16px;
}

.pe-4 {
  padding-right: 16px;
}

.pb-4 {
  padding-bottom: 16px;
}

.ps-4 {
  padding-left: 16px;
}

.m-4 {
  margin: 16px;
}

.mx-4 {
  margin-inline: 16px;
}

.my-4 {
  margin-block: 16px;
}

.mt-4 {
  margin-top: 16px;
}

.me-4 {
  margin-right: 16px;
}

.mb-4 {
  margin-bottom: 16px;
}

.ms-4 {
  margin-left: 16px;
}

.gap-4 {
  gap: 16px;
}

.gapx-4 {
  column-gap: 16px;
}

.gapy-4 {
  row-gap: 16px;
}

.p-5 {
  padding: 20px;
}

.px-5 {
  padding-inline: 20px;
}

.py-5 {
  padding-block: 20px;
}

.pt-5 {
  padding-top: 20px;
}

.pe-5 {
  padding-right: 20px;
}

.pb-5 {
  padding-bottom: 20px;
}

.ps-5 {
  padding-left: 20px;
}

.m-5 {
  margin: 20px;
}

.mx-5 {
  margin-inline: 20px;
}

.my-5 {
  margin-block: 20px;
}

.mt-5 {
  margin-top: 20px;
}

.me-5 {
  margin-right: 20px;
}

.mb-5 {
  margin-bottom: 20px;
}

.ms-5 {
  margin-left: 20px;
}

.gap-5 {
  gap: 20px;
}

.gapx-5 {
  column-gap: 20px;
}

.gapy-5 {
  row-gap: 20px;
}

.p-6 {
  padding: 24px;
}

.px-6 {
  padding-inline: 24px;
}

.py-6 {
  padding-block: 24px;
}

.pt-6 {
  padding-top: 24px;
}

.pe-6 {
  padding-right: 24px;
}

.pb-6 {
  padding-bottom: 24px;
}

.ps-6 {
  padding-left: 24px;
}

.m-6 {
  margin: 24px;
}

.mx-6 {
  margin-inline: 24px;
}

.my-6 {
  margin-block: 24px;
}

.mt-6 {
  margin-top: 24px;
}

.me-6 {
  margin-right: 24px;
}

.mb-6 {
  margin-bottom: 24px;
}

.ms-6 {
  margin-left: 24px;
}

.gap-6 {
  gap: 24px;
}

.gapx-6 {
  column-gap: 24px;
}

.gapy-6 {
  row-gap: 24px;
}

.p-7 {
  padding: 28px;
}

.px-7 {
  padding-inline: 28px;
}

.py-7 {
  padding-block: 28px;
}

.pt-7 {
  padding-top: 28px;
}

.pe-7 {
  padding-right: 28px;
}

.pb-7 {
  padding-bottom: 28px;
}

.ps-7 {
  padding-left: 28px;
}

.m-7 {
  margin: 28px;
}

.mx-7 {
  margin-inline: 28px;
}

.my-7 {
  margin-block: 28px;
}

.mt-7 {
  margin-top: 28px;
}

.me-7 {
  margin-right: 28px;
}

.mb-7 {
  margin-bottom: 28px;
}

.ms-7 {
  margin-left: 28px;
}

.gap-7 {
  gap: 28px;
}

.gapx-7 {
  column-gap: 28px;
}

.gapy-7 {
  row-gap: 28px;
}

.p-8 {
  padding: 32px;
}

.px-8 {
  padding-inline: 32px;
}

.py-8 {
  padding-block: 32px;
}

.pt-8 {
  padding-top: 32px;
}

.pe-8 {
  padding-right: 32px;
}

.pb-8 {
  padding-bottom: 32px;
}

.ps-8 {
  padding-left: 32px;
}

.m-8 {
  margin: 32px;
}

.mx-8 {
  margin-inline: 32px;
}

.my-8 {
  margin-block: 32px;
}

.mt-8 {
  margin-top: 32px;
}

.me-8 {
  margin-right: 32px;
}

.mb-8 {
  margin-bottom: 32px;
}

.ms-8 {
  margin-left: 32px;
}

.gap-8 {
  gap: 32px;
}

.gapx-8 {
  column-gap: 32px;
}

.gapy-8 {
  row-gap: 32px;
}

.p-9 {
  padding: 36px;
}

.px-9 {
  padding-inline: 36px;
}

.py-9 {
  padding-block: 36px;
}

.pt-9 {
  padding-top: 36px;
}

.pe-9 {
  padding-right: 36px;
}

.pb-9 {
  padding-bottom: 36px;
}

.ps-9 {
  padding-left: 36px;
}

.m-9 {
  margin: 36px;
}

.mx-9 {
  margin-inline: 36px;
}

.my-9 {
  margin-block: 36px;
}

.mt-9 {
  margin-top: 36px;
}

.me-9 {
  margin-right: 36px;
}

.mb-9 {
  margin-bottom: 36px;
}

.ms-9 {
  margin-left: 36px;
}

.gap-9 {
  gap: 36px;
}

.gapx-9 {
  column-gap: 36px;
}

.gapy-9 {
  row-gap: 36px;
}

.p-10 {
  padding: 40px;
}

.px-10 {
  padding-inline: 40px;
}

.py-10 {
  padding-block: 40px;
}

.pt-10 {
  padding-top: 40px;
}

.pe-10 {
  padding-right: 40px;
}

.pb-10 {
  padding-bottom: 40px;
}

.ps-10 {
  padding-left: 40px;
}

.m-10 {
  margin: 40px;
}

.mx-10 {
  margin-inline: 40px;
}

.my-10 {
  margin-block: 40px;
}

.mt-10 {
  margin-top: 40px;
}

.me-10 {
  margin-right: 40px;
}

.mb-10 {
  margin-bottom: 40px;
}

.ms-10 {
  margin-left: 40px;
}

.gap-10 {
  gap: 40px;
}

.gapx-10 {
  column-gap: 40px;
}

.gapy-10 {
  row-gap: 40px;
}

.p-11 {
  padding: 44px;
}

.px-11 {
  padding-inline: 44px;
}

.py-11 {
  padding-block: 44px;
}

.pt-11 {
  padding-top: 44px;
}

.pe-11 {
  padding-right: 44px;
}

.pb-11 {
  padding-bottom: 44px;
}

.ps-11 {
  padding-left: 44px;
}

.m-11 {
  margin: 44px;
}

.mx-11 {
  margin-inline: 44px;
}

.my-11 {
  margin-block: 44px;
}

.mt-11 {
  margin-top: 44px;
}

.me-11 {
  margin-right: 44px;
}

.mb-11 {
  margin-bottom: 44px;
}

.ms-11 {
  margin-left: 44px;
}

.gap-11 {
  gap: 44px;
}

.gapx-11 {
  column-gap: 44px;
}

.gapy-11 {
  row-gap: 44px;
}

.p-12 {
  padding: 48px;
}

.px-12 {
  padding-inline: 48px;
}

.py-12 {
  padding-block: 48px;
}

.pt-12 {
  padding-top: 48px;
}

.pe-12 {
  padding-right: 48px;
}

.pb-12 {
  padding-bottom: 48px;
}

.ps-12 {
  padding-left: 48px;
}

.m-12 {
  margin: 48px;
}

.mx-12 {
  margin-inline: 48px;
}

.my-12 {
  margin-block: 48px;
}

.mt-12 {
  margin-top: 48px;
}

.me-12 {
  margin-right: 48px;
}

.mb-12 {
  margin-bottom: 48px;
}

.ms-12 {
  margin-left: 48px;
}

.gap-12 {
  gap: 48px;
}

.gapx-12 {
  column-gap: 48px;
}

.gapy-12 {
  row-gap: 48px;
}

.p-13 {
  padding: 52px;
}

.px-13 {
  padding-inline: 52px;
}

.py-13 {
  padding-block: 52px;
}

.pt-13 {
  padding-top: 52px;
}

.pe-13 {
  padding-right: 52px;
}

.pb-13 {
  padding-bottom: 52px;
}

.ps-13 {
  padding-left: 52px;
}

.m-13 {
  margin: 52px;
}

.mx-13 {
  margin-inline: 52px;
}

.my-13 {
  margin-block: 52px;
}

.mt-13 {
  margin-top: 52px;
}

.me-13 {
  margin-right: 52px;
}

.mb-13 {
  margin-bottom: 52px;
}

.ms-13 {
  margin-left: 52px;
}

.gap-13 {
  gap: 52px;
}

.gapx-13 {
  column-gap: 52px;
}

.gapy-13 {
  row-gap: 52px;
}

.p-14 {
  padding: 56px;
}

.px-14 {
  padding-inline: 56px;
}

.py-14 {
  padding-block: 56px;
}

.pt-14 {
  padding-top: 56px;
}

.pe-14 {
  padding-right: 56px;
}

.pb-14 {
  padding-bottom: 56px;
}

.ps-14 {
  padding-left: 56px;
}

.m-14 {
  margin: 56px;
}

.mx-14 {
  margin-inline: 56px;
}

.my-14 {
  margin-block: 56px;
}

.mt-14 {
  margin-top: 56px;
}

.me-14 {
  margin-right: 56px;
}

.mb-14 {
  margin-bottom: 56px;
}

.ms-14 {
  margin-left: 56px;
}

.gap-14 {
  gap: 56px;
}

.gapx-14 {
  column-gap: 56px;
}

.gapy-14 {
  row-gap: 56px;
}

.p-15 {
  padding: 60px;
}

.px-15 {
  padding-inline: 60px;
}

.py-15 {
  padding-block: 60px;
}

.pt-15 {
  padding-top: 60px;
}

.pe-15 {
  padding-right: 60px;
}

.pb-15 {
  padding-bottom: 60px;
}

.ps-15 {
  padding-left: 60px;
}

.m-15 {
  margin: 60px;
}

.mx-15 {
  margin-inline: 60px;
}

.my-15 {
  margin-block: 60px;
}

.mt-15 {
  margin-top: 60px;
}

.me-15 {
  margin-right: 60px;
}

.mb-15 {
  margin-bottom: 60px;
}

.ms-15 {
  margin-left: 60px;
}

.gap-15 {
  gap: 60px;
}

.gapx-15 {
  column-gap: 60px;
}

.gapy-15 {
  row-gap: 60px;
}

.p-16 {
  padding: 64px;
}

.px-16 {
  padding-inline: 64px;
}

.py-16 {
  padding-block: 64px;
}

.pt-16 {
  padding-top: 64px;
}

.pe-16 {
  padding-right: 64px;
}

.pb-16 {
  padding-bottom: 64px;
}

.ps-16 {
  padding-left: 64px;
}

.m-16 {
  margin: 64px;
}

.mx-16 {
  margin-inline: 64px;
}

.my-16 {
  margin-block: 64px;
}

.mt-16 {
  margin-top: 64px;
}

.me-16 {
  margin-right: 64px;
}

.mb-16 {
  margin-bottom: 64px;
}

.ms-16 {
  margin-left: 64px;
}

.gap-16 {
  gap: 64px;
}

.gapx-16 {
  column-gap: 64px;
}

.gapy-16 {
  row-gap: 64px;
}

.p-17 {
  padding: 68px;
}

.px-17 {
  padding-inline: 68px;
}

.py-17 {
  padding-block: 68px;
}

.pt-17 {
  padding-top: 68px;
}

.pe-17 {
  padding-right: 68px;
}

.pb-17 {
  padding-bottom: 68px;
}

.ps-17 {
  padding-left: 68px;
}

.m-17 {
  margin: 68px;
}

.mx-17 {
  margin-inline: 68px;
}

.my-17 {
  margin-block: 68px;
}

.mt-17 {
  margin-top: 68px;
}

.me-17 {
  margin-right: 68px;
}

.mb-17 {
  margin-bottom: 68px;
}

.ms-17 {
  margin-left: 68px;
}

.gap-17 {
  gap: 68px;
}

.gapx-17 {
  column-gap: 68px;
}

.gapy-17 {
  row-gap: 68px;
}

.p-18 {
  padding: 72px;
}

.px-18 {
  padding-inline: 72px;
}

.py-18 {
  padding-block: 72px;
}

.pt-18 {
  padding-top: 72px;
}

.pe-18 {
  padding-right: 72px;
}

.pb-18 {
  padding-bottom: 72px;
}

.ps-18 {
  padding-left: 72px;
}

.m-18 {
  margin: 72px;
}

.mx-18 {
  margin-inline: 72px;
}

.my-18 {
  margin-block: 72px;
}

.mt-18 {
  margin-top: 72px;
}

.me-18 {
  margin-right: 72px;
}

.mb-18 {
  margin-bottom: 72px;
}

.ms-18 {
  margin-left: 72px;
}

.gap-18 {
  gap: 72px;
}

.gapx-18 {
  column-gap: 72px;
}

.gapy-18 {
  row-gap: 72px;
}

.p-19 {
  padding: 76px;
}

.px-19 {
  padding-inline: 76px;
}

.py-19 {
  padding-block: 76px;
}

.pt-19 {
  padding-top: 76px;
}

.pe-19 {
  padding-right: 76px;
}

.pb-19 {
  padding-bottom: 76px;
}

.ps-19 {
  padding-left: 76px;
}

.m-19 {
  margin: 76px;
}

.mx-19 {
  margin-inline: 76px;
}

.my-19 {
  margin-block: 76px;
}

.mt-19 {
  margin-top: 76px;
}

.me-19 {
  margin-right: 76px;
}

.mb-19 {
  margin-bottom: 76px;
}

.ms-19 {
  margin-left: 76px;
}

.gap-19 {
  gap: 76px;
}

.gapx-19 {
  column-gap: 76px;
}

.gapy-19 {
  row-gap: 76px;
}

.p-20 {
  padding: 80px;
}

.px-20 {
  padding-inline: 80px;
}

.py-20 {
  padding-block: 80px;
}

.pt-20 {
  padding-top: 80px;
}

.pe-20 {
  padding-right: 80px;
}

.pb-20 {
  padding-bottom: 80px;
}

.ps-20 {
  padding-left: 80px;
}

.m-20 {
  margin: 80px;
}

.mx-20 {
  margin-inline: 80px;
}

.my-20 {
  margin-block: 80px;
}

.mt-20 {
  margin-top: 80px;
}

.me-20 {
  margin-right: 80px;
}

.mb-20 {
  margin-bottom: 80px;
}

.ms-20 {
  margin-left: 80px;
}

.gap-20 {
  gap: 80px;
}

.gapx-20 {
  column-gap: 80px;
}

.gapy-20 {
  row-gap: 80px;
}

.p-21 {
  padding: 84px;
}

.px-21 {
  padding-inline: 84px;
}

.py-21 {
  padding-block: 84px;
}

.pt-21 {
  padding-top: 84px;
}

.pe-21 {
  padding-right: 84px;
}

.pb-21 {
  padding-bottom: 84px;
}

.ps-21 {
  padding-left: 84px;
}

.m-21 {
  margin: 84px;
}

.mx-21 {
  margin-inline: 84px;
}

.my-21 {
  margin-block: 84px;
}

.mt-21 {
  margin-top: 84px;
}

.me-21 {
  margin-right: 84px;
}

.mb-21 {
  margin-bottom: 84px;
}

.ms-21 {
  margin-left: 84px;
}

.gap-21 {
  gap: 84px;
}

.gapx-21 {
  column-gap: 84px;
}

.gapy-21 {
  row-gap: 84px;
}

.p-22 {
  padding: 88px;
}

.px-22 {
  padding-inline: 88px;
}

.py-22 {
  padding-block: 88px;
}

.pt-22 {
  padding-top: 88px;
}

.pe-22 {
  padding-right: 88px;
}

.pb-22 {
  padding-bottom: 88px;
}

.ps-22 {
  padding-left: 88px;
}

.m-22 {
  margin: 88px;
}

.mx-22 {
  margin-inline: 88px;
}

.my-22 {
  margin-block: 88px;
}

.mt-22 {
  margin-top: 88px;
}

.me-22 {
  margin-right: 88px;
}

.mb-22 {
  margin-bottom: 88px;
}

.ms-22 {
  margin-left: 88px;
}

.gap-22 {
  gap: 88px;
}

.gapx-22 {
  column-gap: 88px;
}

.gapy-22 {
  row-gap: 88px;
}

.p-23 {
  padding: 92px;
}

.px-23 {
  padding-inline: 92px;
}

.py-23 {
  padding-block: 92px;
}

.pt-23 {
  padding-top: 92px;
}

.pe-23 {
  padding-right: 92px;
}

.pb-23 {
  padding-bottom: 92px;
}

.ps-23 {
  padding-left: 92px;
}

.m-23 {
  margin: 92px;
}

.mx-23 {
  margin-inline: 92px;
}

.my-23 {
  margin-block: 92px;
}

.mt-23 {
  margin-top: 92px;
}

.me-23 {
  margin-right: 92px;
}

.mb-23 {
  margin-bottom: 92px;
}

.ms-23 {
  margin-left: 92px;
}

.gap-23 {
  gap: 92px;
}

.gapx-23 {
  column-gap: 92px;
}

.gapy-23 {
  row-gap: 92px;
}

.p-24 {
  padding: 96px;
}

.px-24 {
  padding-inline: 96px;
}

.py-24 {
  padding-block: 96px;
}

.pt-24 {
  padding-top: 96px;
}

.pe-24 {
  padding-right: 96px;
}

.pb-24 {
  padding-bottom: 96px;
}

.ps-24 {
  padding-left: 96px;
}

.m-24 {
  margin: 96px;
}

.mx-24 {
  margin-inline: 96px;
}

.my-24 {
  margin-block: 96px;
}

.mt-24 {
  margin-top: 96px;
}

.me-24 {
  margin-right: 96px;
}

.mb-24 {
  margin-bottom: 96px;
}

.ms-24 {
  margin-left: 96px;
}

.gap-24 {
  gap: 96px;
}

.gapx-24 {
  column-gap: 96px;
}

.gapy-24 {
  row-gap: 96px;
}

.p-25 {
  padding: 100px;
}

.px-25 {
  padding-inline: 100px;
}

.py-25 {
  padding-block: 100px;
}

.pt-25 {
  padding-top: 100px;
}

.pe-25 {
  padding-right: 100px;
}

.pb-25 {
  padding-bottom: 100px;
}

.ps-25 {
  padding-left: 100px;
}

.m-25 {
  margin: 100px;
}

.mx-25 {
  margin-inline: 100px;
}

.my-25 {
  margin-block: 100px;
}

.mt-25 {
  margin-top: 100px;
}

.me-25 {
  margin-right: 100px;
}

.mb-25 {
  margin-bottom: 100px;
}

.ms-25 {
  margin-left: 100px;
}

.gap-25 {
  gap: 100px;
}

.gapx-25 {
  column-gap: 100px;
}

.gapy-25 {
  row-gap: 100px;
}

/*# sourceMappingURL=index.css.map */
