$color-dark-brown: #582216;
$color-green: #006F2B;
$color-light-blue: #57C4E5;
$color-light-green: #BBD780;
$color-orange: #ED5700;
$color-pink: #F183B2;
$color-purple: #641978;
$color-red: #E6001D;

$color-gray-1: #FFFFFF;
$color-gray-6: #4D4D4D4D;
$color-gray-9: #262626;
$color-gray-10: #000000;

