@import "../variables/colors";

.container {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 96px 80px;

  margin-block: 276px 138px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url("../../assets/images/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    opacity: 0.5;
    z-index: -1;
  }
}

.shop-by-models {
  display: flex;
  height: 690px;
  overflow: hidden;

  // Header
  &__header {
    flex-basis: 1028px;

    display: flex;
    justify-content: center;

    font-size: 72px;
    font-weight: 900;
  }
  &__title {
    padding: 0 16px;
  }

  // Main
  &__graphics {
    flex-basis: 680px;
  }

  &__circle-container {
    position: relative;
    width: 100%;
  }

  @keyframes slideFromFirstToActive {
    from {
      top: 170px;
      right: -72px;
      transform: rotate(45deg);
      opacity: 0;
    }
    to {
      top: 46px;
      right: -120px;
      transform: rotate(0deg);
      opacity: 1;
    }
  }

  &__svg {
    position: absolute;
    opacity: 0;
    visibility: hidden;

    &--first {
      top: 170px;
      right: -72px;
      transform: rotate(0deg);
    }

    &--second {
      top: -138px;
      right: -400px;
      transform: rotate(-32deg);
    }

    &--third {
      top: -115px;
      right: -426px;
      transform: rotate(-28deg);
    }

    &--fourth {
      top: 23px;
      right: -502px;
      transform: rotate(-11deg);
    }

    &--fifth {
      top: -107px;
      right: -430px;
      transform: rotate(-27deg);
    }

    &--sixth {
      top: -168px;
      right: -368px;
      transform: rotate(-38deg);
    }

    &--active {
      opacity: 1;
      visibility: visible;
      top: 46px;
      right: -120px;
      transform: rotate(0deg);
      animation: slideFromFirstToActive 3.5s ease-in-out forwards;
    }

    // &--animated {
    //   top: 190px;
    //   left: 32px;
    //   transform: rotate(60deg);
    //   opacity: 1;
    //   visibility: visible;
    // }
  }

  &__circle {
    position: absolute;

    margin-top: 88px;

    width: 580px;
    height: 580px;

    border-radius: 50%;

    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1);

    opacity: 0;
    visibility: hidden;
    transform: scale(0);

    &--orange {
      background-color: $color-orange;
    }
    &--pink {
      background-color: $color-pink;
    }
    &--green {
      background-color: $color-light-green;
    }
    &--blue {
      background-color: $color-light-blue;
    }
    &--purple {
      background-color: $color-purple;
    }
    &--red {
      background-color: $color-red;
    }

    &--active {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }
  }

  &__carrousel {
    position: relative;
    height: 100%;

    .carousel {
      &__button {
        cursor: pointer;

        position: absolute;
        z-index: 2;

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 14px 16px;

        border: none;
        border-radius: 50%;

        &--prev {
          top: 50%;
          background-color: $color-gray-9;
          color: $color-gray-1;
        }
        &--next {
          top: 50%;
          right: 400px;
        }
      }

      &__slides {
        position: absolute;
        top: 220px;
        right: 150px;

        display: flex;
        align-items: center;
        gap: 360px;

        &--active {
          transition: transform 0.5s ease-in-out;
        }
      }

      &__image {
        transition: transform 0.5s ease-in-out;

        &--active {
          transform: scale(1.4);
        }
      }
    }
  }
}

.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  font-family: "MINISansSerif-Regular";
  .progress {
    &__container {
      flex-basis: 40%;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-bar {
      position: relative;

      display: flex;
      align-items: center;

      width: 192px;

      background-color: $color-gray-6;
      &__fill {
        height: 2px;
        background-color: $color-gray-9;
        transition: width 0.5s ease;
      }
    }

    &__position {
      font-size: 20px;
      line-height: 24px;
      position: absolute;

      opacity: 0;
      transition: opacity 0.5s ease;

      &-previous {
        left: -16px;
        opacity: 1;

        &--min {
          left: unset;
          right: -18px;
        }
      }

      &-current {
        left: -16px;
        opacity: 1;

        &--max {
          left: unset;
          right: -18px;
          transform: translateX(-216px);
          transition: transform 0.5s ease-in-out;
        }
      }

      &-total {
        right: -18px;
        opacity: 1;

        &--min {
          right: unset;
          left: -16px;
          transform: translateX(216px);
          transition: transform 0.5s ease-in-out;
        }
      }
    }
  }
}

.btn {
  &__group {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  background-color: transparent;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 248px;
  height: 52px;

  border: 1px solid $color-gray-9;
  border-radius: 100px;

  color: $color-gray-10;
  font-size: 18px;

  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $color-gray-9;
    color: $color-gray-1;
  }
}

@media screen and (max-width: 1200px) {
  .shop-by-models {
    display: block;
  }

  .footer {
    margin-top: 100px;

    justify-content: center;
  }

  .btn {
    &__group {
      padding: 0;
    }
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in-active {
  opacity: 1;
}